#myVideo1 {
  position: fixed;
  right: 0;
  top: -100px;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;
  top: -150px;
  left: 500px;
}

.content {
  position: fixed;
  top: -150px;
  left: 500px;
}

.content2{
  position: fixed;
  text-align: center;
  font-family: 'Play',play-Regula;
  top: 250px;
  left: 200px;
  color: #fff;
  margin-bottom: 25px;
}

q {
    font-style: italic;
    font-size: 50px;
}

.content3{
  position: absolute;
  bottom: 100px;
  left: 700px;
  color: #fff;
}


.btn{
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: 'play',Play-Regular;
  width: 150px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 20px;
  position: absolute;
  left:-60%;
  top: -250%;
  display: block;
}

.btn:hover{
  background: #000;
  color: #fff;
  border-color: #000;
}

.bloc{
  display: block;
  margin-left:-15%;

}