@import (https://fonts.google.com/specimen/Play?query=play);

#myVideo1 {
  position: fixed;
  right: 0;
  top: -100px;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;
  top: -150px;
  left: 500px;
}

.content2{
  text-align: center;
  font-family: 'play',Play-Regular;
  position: fixed;
  top: 250px;
  left: 410px;
  color: #fff;
  width: 700px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  border-radius: 20px;
}



.content3{
  position: absolute;
  bottom: 100px;
  left: 700px;
  color: #fff;
}

.btn{
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: 'play',Play-Regular;
  width: 150px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.btn:hover{
  background: #000;
  color: #fff;
  border-color: #000;
}

